/*Paleta de colores
Celadon Green
#048A81
Caribbean Green
#06D6A0
Vivid Sky Blue
#54C6EB
Blue Bell
#8A89C0
Tuscany
#CDA2AB
*/

body{
    background-color: #06D6A059;
    justify-content: center;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
}

#pagina{
    display: flexbox;
    justify-content:center;
    margin: auto;
    min-width: 650px;
    max-width: 1000px;
    padding: 30px;
    background-color: white;
}

/* Elementos del encabezado */
.encabezado{
    height: 200px;
    display: flex;
}

/*Contenedor de la foto de perfil (figure e img)*/
#perfil{
    float: left;
    min-width: 128px;
    max-width: 140px;
    width: 20%;
    height: 100%;
    margin-left: 10px;
}

/* figure contenedor de img*/
#foto{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 128px;
    min-height: 128px;
    width: 99%;
    height: 99%;

}

/* img contenedor de la imagen de perfil */
#fotoPerfil{
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

/* div contenedor de los imagenes de redes de contacto*/
#redes{
    float: left;
    width: 80px;
    height: 200px;
}

/* clase de figure que contiene las img */
.redesContacto{
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    
}
/* clase contenedora de las img */
.imgRedes {
    height: 40px;
    transition: 0.5s ease 0.05s;
}
.imgRedes:hover {
    transform: scale(1.25);
}

/* div contenedor del nombre y profesion */
#nombreTitulo{
    float: left;
    flex-direction: row;
    min-width: 350px;
    margin: auto;
    text-align: center;
}


/* Elementos del cuerpo*/
.tematica{
    clear: both;
    border-top: 3px solid #048A81;
    padding-bottom: 10px;
}

.datos {
    padding-left: 40px;
}

.resaltar {
    font-family: 'Roboto', sans-serif;;
    text-decoration: underline;
}

.fleVisibilidad {
    margin-top: 23px;
    margin-right: 45px;
    float: right;
    
}

.titulo {
    padding-bottom: 4em;
    border-bottom: 1px solid #54C6EB;
}
.titulo h3 {
    float: left;
    display: flex;
    margin: 0px;
    padding: 1em;
    font-size: 1.27em;
}

[id^=mostrar] {
    display: none;
}

footer {
    clear: both;
    border-top: 1px solid #54C6EB;
    padding-top: 1em;
}